@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/image/logo.png" alt="logo"/>
    <h1 class="display-4">Bem vindo ao Anu Viagens</h1>
    <p id="tagline">Um brasil que você nunca imaginou</a>.</p>
</div>
