@model Projeto2.Models.Produto;
@{
	ViewData["Title"] = "Registra Produto";
}
<h2>Registra Produto</h2>

<form asp-action="Cadastro" id="Cadastro" method="post">
	<div>
		<label>Nome:</label> <br />
		<input asp-for="Nome" required />
	</div>
	<div>
		<label>Descrição:</label> <br />
		<input asp-for="Descricao"  required />
	</div>
	<div>
		<label>Preço:</label> <br />
		<input asp-for="Preco"  required />
	</div> 
	<br />
	<button type="submit">Cadastrar Produto</button>
</form>
